* {
    box-sizing: border-box;
}

body, html {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow-x: hidden;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0)); 
    padding: .5vh; 
    transition: background 0.3s ease; 
  }

  .landing {
    position: relative;
    height: 100vh;
    background-image: url('./../../../public/assets/butcher_black_and_white.png');
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.est-text {
  position: absolute;
  bottom: 13vh;
  right: 20vh;
  font-size: 8rem;
  color: #333;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.space {
  background-color: white;
  padding: 30vh;
}

.footer {
  background-color: #333;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  color: #fff;  
  padding: 10vh;
}




  