* {
    box-sizing: border-box;
}

body, html {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow-x: hidden;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0)); 
    padding: .5vh; 
    transition: background 0.3s ease; 
  }

  .landing {
    position: relative;
    height: 100vh;
    background-image: url('./../../public/assets/butcher_black_and_white.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




  