
* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
    z-index: 1000;
}

.header .left {
    font-family: 'Playfair Display', serif;
    font-size: 1rem; 
    color: #333;
    padding-left: 2;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 50px;  
    height: auto;
}

.header .nav-links {
    display: flex;
    align-items: center;
}

.header .nav-links a {
    text-decoration: none; 
    font-family: Oswald, serif;
    font-weight: 400;
    color: #171717; 
    margin-right: 3vw;
    margin-left: 4vw;
    font-size: 1.2rem; 
    letter-spacing: .2vw;
    cursor: pointer;
}

.header .nav-links a:hover {
    border-top: 1px solid #E16E6E;
}


.header .phone-number {
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 0;  
}

.header .phone-number a {
    color: inherit;
    text-decoration: none; 
}


.services-dropdown {
    position: relative;
}

.services-dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -5vw;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding-top: 1vh;
    padding-left: 0;
    margin: 0;
    white-space: nowrap;
    min-width: max-content;
}

.services-dropdown:hover ul {
    display: block;
}

.services-dropdown ul li {
    padding: 8px 16px;
}

.services-dropdown ul li a {
    text-decoration: none;
    color: #333;
}

.services-dropdown ul li a:hover {
    color: #C88A65; 
    transform: scale(1.1);
}



@media(width < 1100px) {
    .header .nav-links {
        margin: 0;
    }
    .header .phone-number {
        visibility: hidden;
    }
}